.container-main-outer {
  overflow: hidden;

  .container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    gap: 1rem;
    margin: unset;
    max-width: unset;
    background-color: unset;
    backdrop-filter: unset;

    @media screen and (orientation: portrait) {
      padding: 0;
      margin: 0 auto;
    }
  }
}
