---
import homeWhiteIcon from "../../assets/images/menu/white/home.png";
import computerWhiteIcon from "../../assets/images/menu/white/computer.png";
import musicWhiteIcon from "../../assets/images/menu/white/music.png";
import workWhiteIcon from "../../assets/images/menu/white/work.png";
import { Image } from "astro:assets";
import "./index.scss";

const path = Astro.url.pathname;
---

<div class="menu">
  <div class="tab-group">
    <a
      class:list={["tab hover-effect menu-icon-wrap", { active: path === "/" }]}
      href="/"
    >
      <Image class="menu-icon" src={homeWhiteIcon} alt={"Home"} />
      <span class="menu-label">Home</span>
    </a>
    <a
      class:list={[
        "tab hover-effect menu-icon-wrap",
        { active: path === "/programming" },
      ]}
      href="/programming"
    >
      <Image class="menu-icon" src={computerWhiteIcon} alt={"Programming"} />
      <span class="menu-label">Coding</span>
    </a>
    <a
      id="music-icon-link"
      class:list={[
        "tab hover-effect menu-icon-wrap",
        { active: path === "/music" },
      ]}
      href="/music"
    >
      <Image class="menu-icon" src={musicWhiteIcon} alt={"Music"} />
      <span class="menu-label">Music</span>
    </a>
    <a
      class:list={[
        "tab hover-effect menu-icon-wrap",
        { active: path === "/career" },
      ]}
      href="/career"
    >
      <Image class="menu-icon" src={workWhiteIcon} alt={"Work"} />
      <span class="menu-label">Career</span>
    </a>
  </div>
</div>

<script>
  import anime from "animejs";

  anime({
    targets: ".menu",
    left: 0,
    opacity: 1,
    duration: 1000,
  });
</script>
