.menu {
	position: fixed;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 1000;

	// border-radius: 5rem;
	// background-color: #2a2a2a;
	
	// backdrop-filter: blur(6px);
	// -webkit-backdrop-filter: blur(6px);

	@media screen and (orientation: portrait) {
		top: unset;
		left: unset;
		bottom: 0;
		width: 100%;
		height: unset;
		flex-direction: row;
	}

	.tab-group {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;
		padding: 10px;
		margin: auto 1rem;

		@media screen and (orientation: portrait) {
			flex-direction: row;
			margin: 0 auto;
		}
	}

	.menu-icon-wrap {
		line-height: 1;
		border-radius: 0.5vw;
		background-color: #45bbff;
		padding: clamp(5px, 2vw, 25px);
		margin-top: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 10px;
		width: -webkit-fill-available;
		color: #ffffff;
		background-color: #00000078;
		text-decoration: unset;

		box-shadow: 0vh 0vh 5vh grey;

		&.active {
			background-color: #9de600 !important;
		}

		&:hover {
			background-color: #2a2a2abf;
		}

		@media screen and (orientation: portrait) {
			border-radius: 5px;
			padding: 15px;
			font-size: 0px;
		}

		.menu-icon {
			width: 2rem;
			height: 2rem;

			@media screen and (orientation: portrait) {
				width: 20px;
				height: 20px;
			}
		}

		.menu-label {
			@media screen and (orientation: portrait) {
				display: none;
			}
		}
	}

	.theme-icon {
		margin: 15px;
		margin-top: auto;

		@media screen and (orientation: portrait) {
			margin-left: auto;
		}
	}
}
