---
import BaseLayout, {
  type Props as BaseLayoutProps,
} from "../BaseLayout/index.astro";
import "./index.scss";

type Props = Omit<BaseLayoutProps, "includeMenu">;

const { title } = Astro.props;
---

<BaseLayout title={title} includeMenu>
  <div class="container-main-outer">
    <div class="container-main">
      <slot />
    </div>
  </div>
</BaseLayout>
