.container-main-outer {
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 1;

  .container-main {
    height: calc(100vh - 10rem);
    overflow: auto;
    width: 40%;
    min-width: 35rem;
    max-width: 60rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding: 5rem;
    background-color: #ffffff81;
    backdrop-filter: blur(6px);
    gap: 1rem;

    @media screen and (orientation: portrait) {
      width: -webkit-fill-available;
      padding: 2rem;
      height: unset;
      min-width: unset;
      margin: 0;
      padding-bottom: 10rem; // for phone bottom render
    }
  }
}
