---
import HomeLayout from "../layouts/HomeLayout/index.astro";
import Signature from "../components/Signature/index.astro";
import PageSlide from "../components/PageSlide/index.astro";
import "./index.scss";
---

<HomeLayout title="Home | Wei Tung Chen" includeJquery>
  <div class="content">
    <PageSlide>
      <Signature />
    </PageSlide>

    <PageSlide>
      You need to smoothly interpolate the colors by taking into account the
      page's scroll offset (window.scrollY, or window.pageYOffset on older
      browsers).
    </PageSlide>

    <PageSlide>
      You need to smoothly interpolate the colors by taking into account the
      page's scroll offset (window.scrollY, or window.pageYOffset on older
      browsers).
    </PageSlide>

    <PageSlide excludeScrollIndicator>
      You need to smoothly interpolate the colors by taking into account the
      page's scroll offset (window.scrollY, or window.pageYOffset on older
      browsers).
    </PageSlide>
  </div>
</HomeLayout>

<script is:inline>
  $(".scroll-indicator").on("click", function (e) {
    e.preventDefault();
    this.parentElement.nextSibling?.scrollIntoView({ behavior: "smooth",  });
  });
</script>
