---
import HomeLayout from "../layouts/HomeLayout/index.astro";
import signatureSvg from "../assets/images/signature.svg?raw";
import "./index.scss";
---

<HomeLayout title="Home | Wei Tung Chen">
  <div class="signature">
    <Fragment set:html={signatureSvg} alt={"signature"} />
  </div>
</HomeLayout>

<script>
  import anime from "animejs";
  anime
    .timeline({
      easing: "easeInOutSine",
      duration: 2000,
      loop: false,
    })
    .add(
      {
        targets: ".signature path",
        stroke: "#ffffff",
        opacity: 1,
      },
      0
    );

  anime
    .timeline({
      easing: "easeInOutSine",
      duration: 4000,
      loop: false,
    })
    .add(
      {
        targets: ".signature path",
        fill: "#ffffff",
        opacity: 1,
      },
      0
    );

  anime({
    targets: ".signature path",
    strokeDashoffset: [anime.setDashoffset, 0],
    easing: "easeInOutSine",
    duration: 1000,
    delay: function (_, i) {
      return i * 150;
    },
    loop: false,
  });
</script>
