---
import HomeLayout from "../layouts/HomeLayout/index.astro";
import Signature from "../components/Signature/index.astro";
import PageSlide from "../components/PageSlide/index.astro";
import CardList from "../components/CardList/index.astro";
import { projects } from "./programming/data";
import "./index.scss";
---

<HomeLayout title="Home | Wei Tung Chen" includeJquery>
  <div class="content">
    <PageSlide style={{ backgroundColor: "transparent" }}>
      <Signature />
    </PageSlide>

    <PageSlide style={{ backgroundColor: "#488ab8f0" }}>
      <h1>A little bit about myself</h1>
      <p>I was born</p>
      <p>I live</p>
      <p>I code website and kick ass</p>
    </PageSlide>

    <PageSlide style={{ backgroundColor: "#653630f0" }}>
      <h1>A little bit about my music talent</h1>
      <p>I was born</p>
      <p>I live</p>
      <p>I play cello and go classical</p>
    </PageSlide>

    <PageSlide style={{ backgroundColor: "#0e0e0ef0" }} excludeScrollIndicator>
      <h1>A little bit about my programming talent</h1>
      <CardList cards={projects} />

    </PageSlide>
  </div>
</HomeLayout>

<script is:inline>
  $(".scroll-indicator").on("click", function (e) {
    e.preventDefault();
    this.parentElement.nextSibling?.scrollIntoView({ behavior: "smooth" });
  });
</script>
