---
import { IIncludePlugins } from "../types";
interface Props {
  title: string;
  includePlugins?: IIncludePlugins;
}

const { title, includePlugins = {} } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Wei Tung Chen's personal website." />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta
    property="og:image"
    content="https://weitungchen.com/assets/images/uw.jpg"
  />

  <title>{title}</title>

  <!-- Tab Icon -->
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

  <!-- Quicksand Font -->
  <link
    href="https://fonts.googleapis.com/css?family=Quicksand&display=swap"
    rel="stylesheet"
  />

  <!-- Plugins -->
  {
    includePlugins.swiper && (
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
      />
    )
  }
</head>
