---
import type { ISpotifyEntry } from "../../types";

type Props = {
  music: ISpotifyEntry;
};

const { music } = Astro.props;
---

<a class="sound-row" data-music-id={music.id}>
  <img src="/assets/icons/play-button.svg" />
  <div class="content">
    <div class="title">
      {music.title}
    </div>
    <div class="description">
      {music.description}
    </div>
  </div>
</a>
